/*
body >#main, h1, footer {
    font-size: 18px;
    font-family: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}
*/

body {
    font-size: 18px;
    font-family: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}