body {
    border:10px black solid;
    min-height: 100vh;
}


.articulo {
    margin-top:106px;
    position:absolute;
    left:50%;
    transform: translate(-50%,0);
}

.titulo {
    font-size: 18px;
    margin-bottom: 40px; 
}

h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.par {
    font-size: 18px;
    margin-bottom: 27px;
}

.enlace {
    padding: 8px,16px;
    margin-left: -16px;
    position: absolute;
    left:16px;
}