$font-family: 'Helvetica Neue';
$font-weight-regular:400;
$font-weight-bold:700;
$font-style: italic;

$color-primary: #333333;
$color-primary-hover: #222222;
$color-secondary: #838c91;
$color-primary-hover: #676d70;

$text-size-h1: 48px;
$text-size-h2: 40px;
$text-size-h3: 32px;
$text-size-h4: 24px;
$text-size-h5: 20px;
$text-size-h6: 14px;
$text-size-p: 14px;




